.header{
    background-color: yellow;
    font-size: 48px;
}


.link:hover{
    transition: all 300ms ease-in-out;
    font-size: 16px;
}

.link:hover{
    transition: all 300ms ease-in-out;
    font-size: 48px;
    cursor: pointer;
    background-color: black;
    color: white;
}